<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.goaltracker">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <!-- 인터넷 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoalTracker">

        <activity
            android:name=".StampUploadDialogActivity"
            android:theme="@style/Theme.StampUploadDialog"
            android:exported="false" />
        <activity
            android:name=".JoinActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".GoalList"
            android:exported="false" />

        <activity
            android:name=".AddFriendActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".AddGoal"
            android:exported="true">
        </activity>

        <activity android:name=".StampBoardActivity"></activity>
        <activity android:name=".GoogleLogin"></activity>
        <activity android:name=".FacebookLogin"></activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".ProfileActivity"></activity>
        <activity android:name=".LoginActivity"></activity>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
    </application>

</manifest>